<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница ожидания заказа</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Заказ успешно оформлен</h1>

<p>Принят заказ от клиента: <b><span th:text="${clientDTO.name}"></span></b></p>
<div>
    <p>Детали заказа: </p>
    <table style="text-align:center;">
        <tr>
            <th>Название блюда</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
        <tr th:each="orderResponseDTO : ${orderResponsDTOS}">
            <td th:text="${orderResponseDTO.dishName}"></td>
            <td th:text="${orderResponseDTO.dishPrice}"></td>
            <td th:text="${orderResponseDTO.dishQuantity}"></td>
        </tr>
    </table>
    <p><b>Общая стоимость заказа: <span th:text="${orderFullCost}"></span></b></p>
</div>
</body>
</html>